/* DEFAULT PAGE */
.page{
    height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:50px;
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}

/* HERO (keep same) */
.hero{
    background:#e6d3b3;
}

/* DIFFERENT ELEGANT BACKGROUNDS */

/* Introduction */
.page:nth-child(2){
    background:#f8f1e7;  /* light cream */
}

/* About Me */
.page:nth-child(3){
    background:#f3e5d8;  /* soft peach */
}

/* Skills */
.page:nth-child(4){
    background:#ede0d4;  /* beige tone */
}

/* Projects */
.page:nth-child(5){
    background:#e6ccb2;  /* warm tan */
}

/* Certifications */
.page:nth-child(6){
    background:#f5ebe0;  /* off white elegant */
}

/* Contact */
.page:nth-child(7){
    background:#e3d5ca;  /* soft brown */
}
