* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #000;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  background: linear-gradient(to right, #ffd000, #fff);
}

.hero img {
  width: 300px;
  border-radius: 20px;
}

.hero-text span {
  color: #ffcc00;
}

/* BUTTON */
button {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #ffcc00;
  color: black;
}

/* SECTIONS */
section {
  padding: 50px;
  text-align: center;
}

/* ABOUT */
.about-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.about-box img {
  width: 200px;
  border-radius: 10px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
}
